<!DOCTYPE html>
<table id="news_list" width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
    <thead>
        <tr>
            <th>日期</th>
            <th>標題</th>
            <th>圖片</th>
            <th>內容</th>
        </tr>
    </thead>
    <tbody>
        <% for(var i=0 ; i < data.length;i++) { %>
            <tr class="odd gradeX">
                <td>
                    <%=moment(data[i].date).format('YYYY-MM-DD')%>
                </td>
                <td>
                    <%=data[i].title %>
                </td>
                <td>
                    <img src="" alt="">
                    <%=data[i].pic %>
                </td>
                <td>
                    <%=data[i].content %>
                </td>
            </tr>
            <%} %>
    </tbody>
</table>

