<!DOCTYPE html>
<html>
<head>
</head>
<% include header %>
<body>
    <!-- <form id="mainForm" action="/" method="GET">
        <input type="hidden" id="message" value="<%- message %>"/>
    </form> -->
    <button id="history"></button>
</body>
<script>
    $(function(){
        // alert($("#message").val());
        // $("#mainForm").submit().history.back();
        
        // $('#history').on('click',function(){
            window.history.go(-3);
        // })
    });
</script>
</html>