<!DOCTYPE html>
<html>
<head>
</head>
<% include header %>
<body>
    <form id="mainForm" action="/product/checkover" method="GET">
        <input type="hidden" name="serialNum" value="<%=serialNum %>">
    </form>
</body>
<script>
    $(function(){
        $("#mainForm").submit();
    });
</script>
</html>