<!DOCTYPE html>
<html>
<head>
    <title>編輯基本資料</title>
</head>
<% include header %>
<body>
    <main>
    	<h2></h2>
    	<section>
            <form action="/account" method="post">
                <span>中文全名：</span><input type="text" name="name"><br>
    		    <span>E-mail：</span><input type="text" name="email" disabled="true"><br>
    		    <span>市內電話：</span><input type="text" name="tel"><br>
    		    <span>地址：</span><input type="text" name="address"><br>
                <input type="submit" value="送出">
            </form>     
    	</section>
    </main>
</body>
</html>