<!DOCTYPE html>
<div id="product_list">
    <div class="product-list col-lg-10 col-lg-offset-1">
        <input type="hidden" id="productId" name="productId">
        <input type="hidden" id="productAmount" name="productAmount">
        <% for(var i=0 ; i<data.length;i++) { %>
            <section class="col-lg-4">
                <a href="#">
                    <div class="product-grid">
                        <div class="more-product">
                            <span> </span>
                        </div>
                        <div class="product-img b-link-stripe b-animate-go thickbox">
                            <img src="upload/<%=data[i].pic%>" class="img-responsive" alt="">
                            <div class="b-wrapper">
                                <h4 class="b-animate b-from-left  b-delay03">
                                    <button>
                                        <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>Quick View</button>
                                </h4>
                            </div>
                        </div>
                    </div>
                </a>
                <div class="product-info simpleCart_shelfItem">
                    <div class="product-info-cust prt_name">
                        <h4 class="pro_name">
                            <%=data[i].product_name%>
                        </h4>
                        <span class="item_price">
                            <%=data[i].price%>元</span>
                        <input type="text" class="item_quantity" value="1" id="amount" />
                        <input type="button" class="item_add items" value="加入購物車" onclick="addToCart(<%=data[i].product_id %>)">
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </section>
            <% } %>
    </div>
</div>