<!DOCTYPE html>
<div id="news_list">
<% if (data.length == 0) {%>
    <div class="col-log-4 col-lg-offset-3 text-center">無相符資料<br>請確認輸入內容是否正確，或改用其相近關鍵字</div>
<% } else {%>
    <table class="table table-hover col-lg-offset-1">
        <thead>
            <tr>
                <th scope="col" class="col-lg-6 text-center">標題</th>
                <th scope="col" class="col-lg-2 text-center">日期</th>
            </tr>
        </thead>
        <tbody>
            <% for(var i=0 ; i < data.length;i++) { %>
                <tr onclick="newsContent(<%=data[i].id %>)">
                    <th scope="row">
                        <%=data[i].title %>
                    </th>
                    <td class="text-center">
                        <%=moment(data[i].date).format('YYYY-MM-DD')%>
                    </td>
                </tr>
                <% } %>
        </tbody>
    </table>
<% } %>
</div>