<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>購物車</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <main>
        <h2></h2>
        <div class="list">
            <div id="head">
                <span>品名</span>
                <span>售價</span>
                <button>+</button>
                <span>購買數量</span>
                <button>-</button>
            </div>
            <div>
                <span id="name"></span>
                <span id="price"></span>
                <button id="add"></button>
                <span id="number"></span>
                <button id="cut"></button>
            </div>
            <div><span id="total">總價：</span></div>
        </div>
        <div>
            <button id="check">
                <a href="check.html">進入結帳</a>
            </button>
        </div>
    </main>
</body>
</html>