<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>結帳完成</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <main>
        <h2>結帳完成</h2>
        <h4>感謝您的支持</h4>
        <button><a href="index">返回首頁</a></button>
    </main>
</body>
</html>