<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>結帳</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <main>
        <h2></h2>
        <div class="list">
            <div id="head">
                <span>品名</span>
                <span>售價</span>
                <span>購買數量</span>
                <span>總價</span>
            </div>
            <div>
                <span id="product"></span>
                <span id="price"></span>
                <span id="number"></span>
                <span id="total"></span>
            </div>
        </div>
        <div>
            <form action="">
                <span>收件人名稱：</span><input type="text"><br>
                <span>收件地址：</span><input type="text"><br>
                <span>發票類型：</span>
                <input type="radio" name="receipt" value="2"><span>二聯式</span>
                <input type="radio" name="receipt" value="3"><span>三聯式</span><br>
                <span>發票抬頭：</span><input type="text"><br>
                <span>統一編號：</span><input type="text">
            </form>
        </div>
        <div>
            <form action="">
                <span>付款方式：</span><input type="radio" name="pay" value="1" chacked><span>ATM轉帳</span>
            </form>
        </div>
    </main>
</body>
</html>