<!DOCTYPE html>
<html>
<head>
    <title>聯絡我們</title>
    <style>
        .myListGroup {max-width: 300px;}
        .myListGroup a{margin:20px 50px;}      
    </style>
</head>
<% include header %>
<body>
<div class="container">
    <div class="row">
        <div class="container">
            <ol class="breadcrumb">
                <li>
                    <a href="/">首頁</a>
                </li>
                <li class="active">聯絡我們</li>
            </ol>
        </div>
        <div class="col-lg-12">
            <h2 class="top">聯絡我們</h2>
        </div>
        <div class="myListGroup col-lg-4 col-lg-offset-3">
            <ul class="list-group">
                <a href="/storeinfo">
                    <li class="list-group-item">店家資訊</li>
                </a>
                <a href="/suggestion">
                    <li class="list-group-item">顧客意見回覆</li>
                </a>
            </ul>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('.memenu li').eq(6).addClass('active');
    })
</script>
</body>
</html>