<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>聯絡我們</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <main>
        <section>
            <h2>店家資訊</h2>
            <div class="map"></div>
            <div>
                <span>中文地址：台北市仁愛路9段100號</span><br>
                <span>電話:(02)12341234</span><br>
                <span>營業時間：10：00-22：00</span>          
            </div>
        </section>
        <section>
            <h2>客戶反應意見欄</h2>
            <form action="">
                <span>姓名：</span><input type="text" id="name"><br>
                <span>電話：</span><input type="text" id="phone"><br>
                <span>手機：</span><input type="text" id="cell"><br>
                <span>Email：</span><input type="email" id="email"><br>
                <span>地址：</span><input type="text" id="adress"><br>
                <span>內容：</span>
                <textarea name="content" id="content" cols="30" rows="10"></textarea>
                <div></div><span>驗證碼：</span><input type="text" id="verify">
            </form>
        </section>
         <!-- 自動回信
            親愛的小綠您好： 謝謝您寶貴的建議，我們會盡速與您連繫並回覆您的意見 TKB購物平台 感謝您 -->
    </main>
</body>
</html>