<head>
    
    <link href="/frontvendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
    <!-- <link href="/frontvendor/css/docs.min.css" rel="stylesheet"> -->
    <link href="/frontvendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Custom Theme files -->
    <!--theme style-->
    <link href="/frontvendor/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <script src="/frontvendor/js/jquery.min.js"></script>


    <!--//theme style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Wedding Store Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, 
    Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> 
        addEventListener("load", function() { 
            setTimeout(hideURLbar, 0); 
            }, false);
        function hideURLbar(){ window.scrollTo(0,1); } 
    </script>
    
    <!-- start menu -->
    <script src="/frontvendor/js/simpleCart.min.js"> </script>
    <!-- start menu -->
    <link href="/frontvendor/css/memenu.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="/frontvendor/js/memenu.js"></script>
    <script>$(document).ready(function () { $(".memenu").memenu(); });</script>
    <!-- /start menu -->
    <style>
        .logo img{width: 300px;height: 100px;}
        .header-bar {background-color: #a0a0a07a;;color:#3a3a3a;}
        .header-bar li{list-style: none;text-align:center;}
        .header-bar li:first-child {line-height:40px;}
        .header-bar li a{color:#3a3a3a;}
        .top {margin-top:1.5em;margin-bottom:1.5em;}
        /* .wrap1280{width: 1280px;margin: auto;} */
        #sortbar{margin-top:0.5em;margin-bottom:2em;}
    </style>
</head>
<body>
<script src="/frontvendor/js/responsiveslides.min.js"></script>
<script>  
    $(function () {
        $("#slider").responsiveSlides({
            auto: false,
            nav: true,
            speed: 500,
            namespace: "callbacks",
            pager: false,
        });
    });
</script>
<div class="header-bar col-lg-12">
    <ul class="nav justify-content-center col-lg-8">
        <% if (loginStatus == false) { %>
            <li class="col-lg-2 nav-item">訪客&nbsp;&nbsp;&nbsp;您好</li>
            <li class="col-lg-2 nav-item">
                <a href="/member/login">登入</a>
            </li>
            <li class="col-lg-2 nav-item">
                <a href="/member/register">註冊</a>
            </li>
    </ul>
    <ul class="nav justify-content-center col-lg-8">
        <% } else if(loginStatus == true){ %>
            <li class="col-lg-2 nav-item">
                <%= username %>&nbsp;&nbsp;&nbsp;您好</li>
            <li class="col-lg-2 nav-item">
                <a href="/member/logout">登出</a>
            </li>
            <li class="col-lg-2 nav-item">
                <a href="/product/cart">購物車<span class="glyphicon glyphicon-shopping-cart"></span></a>
            </li>
        <% } %>
    </ul>
</div>
<div class="header-top col-lg-12">
    <!-- <div class="header-bottom"> -->
        <div class="logo col-lg-4">
            <h1 style="display:none;">堤可比烘培坊</h1>
            <a href="/">
                <img src="/images/maxresdefault2.jpg" alt="logo">
            </a>
        </div>
        <!---->
        <div class="col-lg-8">
            <ul class="memenu skyblue">
                <li class="active">
                    <a href="/">首頁</a>
                </li>
                <li class="grid">
                    <a href="/news">最新消息</a>
                </li>
                <li class="grid">
                    <a href="/product">產品</a>
                </li>
                <li class="grid">
                    <a href="/product/ordersearch">訂單查詢</a>
                </li class="grid">
                <li>
                    <a href="/member">會員中心</a>
                </li>
                <li class="grid">
                    <a href="/contact">連絡我們</a>
                </li>
                <li class="grid">
                    <a href="/qa">常見問題</a>
                </li>
            </ul>
        </div>  
    <!-- </div> -->
</div>

</body>
