<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>首頁</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <div id="top">
        <p><span id="name">王小明</span>，您好</p>
        <span>登入</span>
    </div>
    <main>
        <div class="logo"><img src="image/logo.gif" alt="logo"></div>
        <nav>
            <ul>
                <li><a href="">最新消息</a></li>
                <li><a href="">產品類別</a></li>
                <li><a href="">訂購說明</a></li>
                <li><a href="">訂單查詢</a></li>
                <li><a href="">會員登入</a></li>
                <li><a href="">連絡我們</a></li>
            </ul>
        </nav>
    </main>

</body>
</html>