<!DOCTYPE html>
<html>
<head>
    <title>堤可比烘培坊</title>
    <style>
        body{overflow:hidden;}
        .banner1{min-height: 650px !important;}
    </style>
</head>
<% include header%>
<body>
    <div class="slider">
        <div >
           <ul class="rslides" id="slider">
               <li>
                   <div class="banner1">				  
                        <div class="banner-info">
                        <h3>Morbi lacus hendrerit efficitur.</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing elit.</p>
                        </div>
                   </div>
               </li>
               <li>
                   <div class="banner2">
                       <div class="banner-info">
                       <h3>Phasellus elementum tincidunt.</h3>
                       <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing elit.</p>
                       </div>
                   </div>
               </li>
               <li>
                   <div class="banner3">
                   <div class="banner-info">
                   <h3>Maecenas interposuere volutpat.</h3>
                     <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. consectetur adipiscing elit. consectetur adipiscing elit.</p>
                   </div>
                   </div>
               </li>
            </ul>
            <!-- <a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a>
            <a href="#" class="callbacks_nav callbacks1_nav next">Next</a> -->
        </div>
    </div>
<script>
    $(function () {
        $('.memenu li').eq(1).addClass('active');
    })
</script>
</body>
<!-- slider js -->
<!-- <script src="/frontvendor/js/bootstrap.js"> </script> -->

</html> 
