<!DOCTYPE html>
<html lang="en">
<head>
    <title>會員登入</title>
</head>
<% include header %>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">會員登入</h3>
                    </div>
                    <div class="panel-body">
                        <fieldset>
                            <% if (loginStatus == false && views > 0) { %>
                                <% if (views == 1) {%>
                                <form role="form" action="/member/login1" method="POST">
                                    <div class="form-group">
                                    <input class="form-control" placeholder="帳號（E-mail）" name="email" type="email" autofocus>
                                    </div>
                                    <div class="form-group">
                                        <input class="form-control" placeholder="密碼" name="password" type="password" value="">
                                    </div>
                                    <!-- <div class="checkbox">
                                        <label>
                                            <input name="remember" type="checkbox" value="Remember Me">Remember Me
                                        </label>
                                    </div> -->
                                    <input type="submit" value="登入" class="btn btn-lg btn-success btn-block">
                                    <div><%- message %></div>
                                </form>
                                    <% } else if(views == 2) { %>
                                        <div><%- message %></div>
                                        <form action="/member/logout" method="get">
                                            <input type="submit" value="登出" class="btn btn-lg btn-warning btn-block">
                                        </form>
                                            <button class="btn btn-lg btn-primary btn-block"><a href="/member">會員中心</a></button>
                                            <button class="btn btn-lg btn-primary btn-block"><a href="/">回到首頁</a></button>
                                    <% }%>
                                <% } else if(loginStatus == true){ %>
                                <div><%- message %></div>
                                    <form action="/member/logout" method="get">
                                        <input type="submit" value="登出" class="btn btn-lg btn-warning btn-block">
                                    </form>
                                        <button class="btn btn-lg btn-primary btn-block"><a href="/member">會員中心</a></button>
                                        <button class="btn btn-lg btn-primary btn-block"><a href="/">回到首頁</a></button>
                                <% } %>
                                <!-- Change this to a button or input when using this as a form -->
                            </fieldset>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>