<!DOCTYPE html>
<html>
<head>
    <title>修改密碼</title>
</head>
<% include header %>
<body>
	<div class="container">
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
				<div class="login-panel panel panel-default">
					<% if(loginStatus == false){ %>
					<div class="panel-heading">
						<h3 class="panel-title">請先登入</h3>
					</div>
					<div class="panel-body">
						<fieldset>
							<form role="form" action="/member/toList" method="POST">
								<div class="form-group">
								<input class="form-control" placeholder="帳號（E-mail）" name="email" type="email" autofocus>
								</div>
								<div class="form-group">
									<input class="form-control" placeholder="密碼" name="password" type="password" value="">
								</div>
								<input type="submit" value="登入" class="btn btn-lg btn-success btn-block">
							</form>
						</fieldset>
					</div>
					<% } else if(loginStatus == true){ %>
						<div class="panel-heading">
							<h3 class="panel-title">修改密碼</h3>
						</div>
						<div class="panel-body">
							<fieldset>
								<form action="/member/newpass1" method="POST">
									<div class="form-group">
										<input class="form-control" placeholder="舊密碼" name="oldpass" type="password" autofocus>
									</div>
									<div class="form-group">
										<input class="form-control" placeholder="新密碼" name="newpass" type="password" value="">
									</div>
									<div class="form-group">
										<input class="form-control" placeholder="確認密碼" name="newpass2" type="password" value="">
									</div>
									<input type="submit" value="修改密碼">
									<div><%- message %></div>
								</form>
							</fieldset>
						</div>
					<% }%>
					</div>
				</div>
			</div>
		</div>
	</div>
					
<!-- 重設密碼成功後需寄發E-mail通知會員已重設密碼的通知 -->
</body>