<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>修改密碼</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<main>
		<div>
			<% if (loginStatus == false) { %>
				<span>請先登入<br>按我<a href="/login">登入</a></span>
			<% } else if(loginStatus == true) { %>
			<form action="/newpass1" method="POST">
				<span>舊密碼：</span><input type="text" id="oldpass" name="oldpass"><br>				
				<span>新密碼：</span><input type="text" id="newpass" name="newpass"><br>
				<span>確認密碼：</span><input type="text" id="newpass2" name="newpass2"><br>
				<input type="submit" value="修改密碼">
			</form>
			<%- message %>
			<% } %>
		</div>
	</main>
<!-- 重設密碼成功後需寄發E-mail通知會員已重設密碼的通知 -->
</body>