<!DOCTYPE html>
<html lang="en">
<head>
    <title>最新消息</title>
</head>
<% include header %>
<body>
<form id="mainForm" action="/newsContent" method="get">
    <div class="col-lg-12">
        <h2 class="top">最新消息列表</h2>
    </div>
    <section class="col-lg-10">
        <section id="sortbar" class="col-lg-10 col-lg-offset-4">
            <div class="col-lg-4">
                <label>排序方式             
                    <select name="dataTables-example_length" aria-controls="dataTables-example" class="form-control input-sm">
                        <option value="">請選擇條件</option>
                        <option value="1">時間(由新至舊)</option>
                        <option value="2">時間(由舊至新)</option>
                    </select>
                </label>
            </div>
            <div class="col-lg-4">
                <input type="text" name="search" id="search" class="form-control input-sm">
                <input type="button" class="btn btn-info btn-sm" value="查詢" onclick="sortSearch()">
                <!-- <input type="search"  placeholder="" aria-controls="dataTables-example"> -->
            </div>
        </section>
        <section id="panBody">
            <div id="news_list">
                <table class="table table-hover col-lg-offset-1">
                    <thead>
                        <tr>
                            <th scope="col" class="col-lg-6 text-center">標題</th>
                            <th scope="col" class="col-lg-2 text-center">日期</th>
                        </tr>
                    </thead>
                    <tbody>
                        <input type="hidden" id="newsId" name="newsId">
                        <% for(var i=0 ; i < data.length;i++) { %>
                        <tr onclick="newsContent(<%=data[i].id %>)">
                            <th scope="row"><%=data[i].title %></th>
                            <td class="text-center"><%=moment(data[i].date).format('YYYY-MM-DD')%></td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </section>
    </div>
</form>
</body>

    <script>
        function sortSearch(){
            $.ajax({
                url:'ajaxNews',
                method: 'GET',
                dataType: 'text',
                data:{
                    sort: $('#sort').val(),
                    search: $('#search').val(),
                },
                success:function(data){
                    $('#news_list').remove();
                    $('#panBody').append(data);
                },
                error:function(err){
                    console.log(err);
                }
            })  
        }
        function newsContent(id){
            $('#newsId').val(id);
            $('#mainForm').submit();
        }
    </script>
</body>
</html>