<!DOCTYPE html>
<html lang="en">
<head>
	<title>訂單查詢</title>
	<style>
		.row {
			margin: 0 20px;
		}
	</style>
</head>
<% include header %>
<body>
		<div class="col-lg-2 center">
			<div class="panel panel-yellow">
				<div class="panel-heading">
					Coming soon
				</div>
			</div>
		</div>
</body>
</html>