<!DOCTYPE html>
<html>
<head>
    <title>常見問題</title>
    <style>
        #qa {margin:0 250px;}
        #qa section {margin:3rem 2rem;}
    </style>
</head>
<% include header %>
<body>
    <div id="qa">
        <h2>常見問題（FAQ）</h2>
        <div>
            <section>
                <h4>Q:訂單下訂後，是否還可以取消？</h4>
                <p>A:您可以在會員中心的訂單一覽中，先確認您的訂單狀態，當訂單狀態為"新訂單"時，是可以直接取消的，若為其他狀態則無法直接進行取消，此時您可以電洽網路客服(02)1234-1234為您處理。</p>
            </section>
            <section>
                <h4>Q:我能選擇的付款方式有哪些？</h4>
                <p>A:僅提供ATM轉帳方式付款：<br>銀行分行代號:xx(xx銀行xx分行)<br>帳號：xxxx-xxxx-xxxx。</p>
            </section>
            <section>
                <h4>Q:我能選擇的取貨方式？</h4>
                <p>A:僅提供郵局寄送</p>
            </section>
        </div>
    </div>
</body>
</html>