<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>常見問題（FAQ）</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <main>
        <h2>常見問題（FAQ）</h2>
        <div>
            <section>
                <h4>Q:訂單下訂後，是否還可以取消？</h4>
                <p>A:您可以在會員中心的訂單一覽中，先確認您的訂單狀態，當訂單狀態為"新訂單"時，是可以直接取消的，若為其他狀態則無法直接進行取消，此時您可以電洽網路客服(02)1234-1234為您處理。</p>
            </section>
            <section>
                <h4>Q:我能選擇的付款方式有哪些？</h4>
                <p>A:僅提供ATM轉帳方式付款：<br>銀行分行代號:xx(xx銀行xx分行) 帳號：xxxx-xxxx-xxxx。</p>
            </section>
            <section>
                <h4>Q:我能選擇的取貨方式？</h4>
                <p>A:僅提供郵局寄送</p>
            </section>
        </div>
    </main>
</body>
</html>