<!DOCTYPE html>
<html>
<head>
    <title>註冊新會員</title>
</head>
<% include header %>
<body>
    <main>
        <h2>註冊</h2>
        <div>
            <form action="/register1" method="POST">
                <span>中文全名：</span><input type="text" name="username" id="username"><br>
                <span>帳號（E-mail）：</span><input type="email" name="email" id="email"><br>
                <span>密碼：</span><input type="text" name="password" id="password"><br >
                <span>確認密碼：</span><input type="text" name="password2" id="password2"><br>
                <span>室內電話：</span><input type="text" name="tel" id="tel"><br>
                <span>手機：</span><input type="text" name="cell" id="cell"><br>
                <span>生日：</span><input type="date" name="birth" id="birth"><br>
                <span>地址：</span><input type="text" name="address" id="address"><br>
                <h4>勾選同意使用條款</h4>
                <textarea cols="30" rows="10" disabled="true">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis enim dolorem placeat deserunt. Molestiae repudiandae eligendi vel pariatur tenetur iste sequi quisquam iure ipsam explicabo architecto, necessitatibus deserunt doloremque doloribus?
                </textarea><br>
                <span>我同意</span><input type="radio" value="0" name="allow" checked hidden><input type="radio" value="1" name="allow"><br>
                <input type="submit" value="註冊" id="send" onclick="javascript: location.href='/'">
                <input type="reset" value="清除" id="clear" >
            </form>
            <%- message %>
        </div>
    </main>
</body>
</html>