<!DOCTYPE html>
<html>
<head>
</head>
<% include header %>
<body>
    <form id="mainForm" action="/member" method="GET">
        <input type="hidden" id="message" value="<%- message %>"/>
    </form>
</body>
<script>
    $(function(){
        alert('<%- message %>');
        $("#mainForm").submit();
    });
</script>
</html>