<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>會員資料管理</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>
<body>
    <main>
        <h2>會員資料管理</h2>
        <div>
            <select id="member">
                <option value="email">E-mail</option>
                <option value="name">姓名</option>
                <option value="cellphone">手機號碼</option>
                <option value="phone">電話</option>
            </select>
            <form action="">
                <input type="submit" value="查詢">
            </form>
        </div>
        <section>
            <ul>
                <li>
                    <span>姓名</span>
                    <span>E-mail</span>
                    <span>手機號碼</span>
                    <span>電話</span>
                    <button>會員密碼重設</button>
                </li>
                <li>
                    <span id="name"></span>
                    <span id="email"></span>
                    <span id="cellphone"></span>
                    <span id="phone"></span>
                    <button id="resetpass">會員密碼重設</button>                    
                 <!-- 王小明先生/小姐您好：
                    已成功重設您的密碼，新密碼是: 333453440 
                    謝謝
                    TKB購物平台 敬上 -->
                </li>
            </ul>
        </section>
    </main>
</body>
</html>