<!DOCTYPE html>
<html>
<head>
    <title>新增產品-後台管理</title>

</head>
<% include backheader %>
<body>
    <div id="page-wrapper">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">新增產品</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <section>
            <form action="/adminP/product-add1" method="POST" enctype="multipart/form-data">
                <label >產品名稱：
                    <input type="text" name="product_name" id="product_name" class="form-control">
                </label>
                <br>
                <label >產品單價：
                    <input type="text" name="price" id="price" class="form-control">
                </label>
                <br>
                <label >產品數量：
                    <input type="text" name="stock" id="stock" class="form-control">
                </label>
                <br>
                <label >產品分類：</label>
                <select name="category" id="category" class="form-control">
                    <% for(var i=0 ; i < data.length;i++) { %>
                        <option><%=data[i].category%></option>
                    <% } %>
                </select><br>
                <label >產品編號：
                    <input type="text" name="ident" id="ident" class="form-control">
                </label><br>
                <label >產品描述：
                    <input type="text" name="description" id="description" class="form-control">
                </label><br>
                <label >產品圖片：
                    <input type="file" name="pic" id="pic">
                </label><br>
                <label >排序：
                    <input type="text" name="sort" id="sort" class="form-control">
                </label><br>
                <input type="submit" value="送出" class="btn btn-default">
            </form>
            <%- message %>
        </section>
    </div>
</body>
</html>

<!-- product price amount uptime downtime description picaddtime changetime no sort category -->