<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增產品</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <script src="main.js"></script>
</head>

<body>
    <main>
        <h2>新增產品</h2>
        <section>
            <form action="/admin/product-add1" method="POST">
                <label for="">產品名稱：<input type="text" name="product" id="product"></label><br>
                <label for="">產品單價：<input type="text" name="price" id="price"></label><br>
                <label for="">產品數量：<input type="text" name="amount" id="amount"></label><br>
                <label for="">產品上架時間：<input type="date" name="uptime" id="uptime"></label><br>
                <label for="">產品下架時間：<input type="date" name="downtime" id="downtime"></label><br>
                <label for="">產品描述：<input type="text" name="description" id="description"></label><br>
                <label for="">產品圖片：<input type="file" name="pic" id="pic"></label><br>
                <label for="">產品新增日期：<input type="date" name="addtime" id="addtime"></label><br>
                <label for="">產品修改日期：<input type="date" name="changetime" id="changetime"></label><br>
                <label for="">產品編號：<input type="text" name="ident" id="ident"></label><br>
                <label for="">排序：<input type="text" name="sort" id="sort"></label><br>
                <label for="">產品分類：<input type="text" name="category" id="category"></label><br>
                <input type="submit" value="送出">
            </form>
            <% message %>
        </section>
    </main>
</body>

</html>

<!-- product price amount uptime downtime description picaddtime changetime no sort category -->