<!DOCTYPE html>
<html>
<head>
</head>
<% include backheader %>
<body>
    <form id="mainForm" action="/admin/news-add" method="GET">
        <input type="hidden" id="message" value="<%- message %>"/>
    </form>
</body>
<script>
    $(function(){
        alert($("#message").val());
        $("#mainForm").submit();
    });
</script>
</html>