<!DOCTYPE html>
<html lang="en">
<head>
    <title>產品分類管理-後台管理</title>
    <style>.black{color:rgb(14, 14, 14)}</style>
</head>
<% include backheader %>
<<<<<<< HEAD
<body>
=======
<body></body>
>>>>>>> fd0e9911143981e2a338d4287732bbb360892421
    <div id="wrapper">
        <div id="">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">產品分類管理</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
<<<<<<< HEAD
            <div class="row fontblack wrap1280">
=======
            <div class="row black">
>>>>>>> fd0e9911143981e2a338d4287732bbb360892421
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            DataTables Advanced Tables
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <table width="100%" class="table table-striped table-bordered table-hover" id="dataTables-example">
                                <thead>
                                    <tr>
                                        <th>產品分類名稱</th>    
                                        <th>排序</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(var i=0 ; i<data.length;i++) { %>
                                    <tr class="odd gradeX">
                                        <td><%=data[i].category %></td>
                                        <td><%=data[i].sort %></td>
                                    </tr>                               
                                    <%} %>
                                </tbody>
                            </table>
                            <!-- /.table-responsive -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->
<<<<<<< HEAD
=======

>>>>>>> fd0e9911143981e2a338d4287732bbb360892421
    <!-- Page-Level Demo Scripts - Tables - Use for reference -->
    <script>
    $(document).ready(function() {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
    </script>

</body>

</html>